server/gateway/Backup/*
server/gateway/Logs/*
server/gateway/s3relay/relay_log/*
server/gateway/s3relay/Logs/*
server/gateway/s3relay/RelayRunData/*

server/server1/*.log
server/server1/itemexchange_setting/rolevalue_log/*
server/server1/Logs/*
server/server1/rolevalueladder_setting/rolevalue_log/*
# server/server1/pak/*
server/gateway/bishop_livetime.dat
server/server1/gameserver.log
server/server1/servershutdown_log

server/gateway/bishop.cfg
server/server1/servercfg.ini
server/gateway/goddess.cfg
server/gateway/rolevalue_setting/rolevalue_log/*
server/gateway/s3relay/relay_config.ini
server/gateway/s3relay/Stat/*
server/gateway/s3relay/Stat/*
server/server1/servercf0.ini
server/server1/servercfg.ini
server/server1/dulieu/bosshoangkim/*
server/server1/vng_data/Logs/*

server/gateway/statdata.dat
server/gateway/roleback/*.log
